<div class="container">
				<div class="page-header">
					<center><h1>Mystery Shopper</h1> </center>     
				</div>
				<div class="CajaInicio animated bounceInRight">
									<!-- <h1>PRODUCTOS</h1> -->
								
									<form id="FormIngreso">
		 										
											    <!-- <button ui-sref="altaUsuario" ng-if="esVisible" class="list-group-item  list-group-item list-group-item-info">
											      <h4 class="list-group-item-heading">Alta de Usuario</h4>
											    </button> -->

											    <button ui-sref="grillaLocal" class="list-group-item  list-group-item list-group-item-info">
											      <h4 class="list-group-item-heading">Grilla de Locales</h4>
											    </button>

											    <button ui-sref="alta" ng-if="esVisibleAdmin" class="list-group-item  list-group-item list-group-item-info">
											      <h4 class="list-group-item-heading">Alta de Usuario</h4>
											    </button>

												<button ui-sref="grillaUsuario" ng-if="esVisibleAdmin" class="list-group-item  list-group-item list-group-item-info">
											      <h4 class="list-group-item-heading">Grilla de Usuarios</h4>
											    </button>

											    <div style="color:black">---------------------------------------------------------------------------------------</div>
											
											  
											    <button ng-click="Logout()" class="list-group-item  list-group-item list-group-item-info">
											      <h4 class="list-group-item-heading">Cerrar Sesión</h4>
											    </button>
											
									</form>
				</div>
		</div>